<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/login.css}" rel="stylesheet">
<script src="https://kit.fontawesome.com/3b085ba6e6.js" crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>
		<i class="fa-solid fa-paw"></i><a href="/"> ANIMALSPOH</a>
	</h1>
	<div class="login-wrapper">
		<h2>Login</h2>
		<form method="post" action="/auth/loginProc" id="login-form">
			<input type="text" name="username" id="username" placeholder="Username">
			 <input type="password" name="password" id="password " placeholder="password"> 
			 <label for="remember-check">
				<input type="checkbox" id="remember-check">아이디 저장하기
				<a href="/join">일반 회원가입</a>
			</label> 
			<input type="submit" value="Login">     
			 
		</form>
	</div>
</body>
</html>
