<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">

	<footer>
		<div class="mt-5">
			<div class="text-center">
				<nav>
					<a href='https://cocoder.tistory.com' target='_blank'>이용약관</a> | 
					<a href='https://github.com/cocoder16' target='_blank'>고객센터</a>
				</nav>
				<p>
					<span>법인명(상호): 주식회사 Animal </span>
					<span>사업자등록번호:265-22-1254</span><br/> 
					<span>주소 : 서울시 동대문구 장안동</span><br/> 
					<span>고객센터: 1665-1234</span><br/>
					<span>Copyright 2020. cocoder. All Rights Reserved.</span>
				</p>
			</div>
		</div>
	</footer>

</th:block>
</html>
